
<div class="container">
    <h1 class="display-4 text-center">Lista de Roupa</h1>
<div class="col-md-6">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco</th>
            <th>Medida</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let roupa of roupas">
            <th>{{ roupa.idroupa }}</th>
            <th>{{ roupa.nome }}</th>
            <th>{{ roupa.preco }}</th>
            <th>{{ roupa.medida }}</th>
            <td><a class="btn btn-primary" href="alterarroupa/{{roupa.idroupa}}"> alterar</a></td>
        </tr>
    </tbody>

</table>
</div>


