<div class="container">
<h1 class="display-4 text-center">Lista de Funcionario</h1>
<a class="btn btn-primary" href="incluirfuncionario/">Incluir Funcionario</a>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>cpf</th>
            <th>idSetor</th>
            <th>email</th>
            <th>salario</th>
            <th>idFuncao</th>
            <th>datadeContratacao</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let funcionario of funcionarios">
            <td>{{ funcionario.idfuncionario }}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td>{{ funcionario.idSetor }}</td>
            <td>{{ funcionario.email }}</td>
            <td>R${{ funcionario.salario | number: '.2'}}</td>
            <td>{{ funcionario.idFuncao }}</td>
            <td>{{ funcionario.datadeContratacao | date:'dd/MM/yyyy':'GMT-00:00'}}</td>
            <td><a class="btn btn-primary" href="alterarfuncionario/{{funcionario.idfuncionario}}">Alterar</a></td>
        </tr>
    </tbody>
</table>
</div>