<h1>Listar Tecido</h1>

<div class="col-md-6"></div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco</th>
            <th>Medida</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tecido of tecidos">
            <th>{{ tecido.idtecido }}</th>
            <th>{{ tecido.nome }}</th>
            <th>{{ tecido.preco }}</th>
            <th>{{ tecido.medida }}</th>
        </tr>
    </tbody>

</table>