<h1>Listar Tecido</h1>

<div class="col-md-6"></div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco</th>
            <th>Medida</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tecido of tecidos">
            <td>{{ tecido.idtecido }}</td>
            <td>{{ tecido.nome }}</td>
            <td>{{ tecido.preco }}</td>
            <td>{{ tecido.medida }}</td>
            <td><a href="tecidoalterar/{{tecido.idtecido}}/td"> Alterera</a></td>

        </tr>
    </tbody>

</table>