<p>incluir-roupa-tecido works!</p>

<div class = "container">
     
    <form method="POST" #frm="ngForm" (ngSubmit)="incluir(frm)">
                  <div class="form-group">
    
                    <label for="idroupa">Id da Roupa:</label>
                    <input type="text" name="idRoupa" id = "idRoupa" class="form-control" placeholder="idroupa" [(ngModel)]="roupatecido.idRoupa" required/>
    
                </div>
    
                <div class="form-group">
    
                    <label for="idroupa">Id do Tecido:</label>
                    <input type="text" name="idTecido" id = "idTecido" class="form-control" placeholder="idtecido" [(ngModel)]="roupatecido.idTecido" required/>
    
                </div>
      
                <input type="submit" />
    
    </form>