<p>incluir-tecido works!</p>

<div class="container">

    <form method="POST" #frm="ngForm" (ngSubmit)="incluir(frm)">

        <div class="form-group">
            <label for="nome">Nome do Teclado:</label>
            <input type="text" name="nome" id="name" class="form-control" placeholder="Nome" [(ngModel)]="tecido.nome"/>

        </div>

        <div class="form-group">
            <label for="nome">Preco do Tecido:</label>
            <input type="text" name="preco" id="preco" class="form-control" placeholder="Preco" [(ngModel)]="tecido.preco"/>

        </div>

        <div class="form-group">
            <label for="nome">Medida do Tecido:</label>
            <input type="text" name="medida" id="medida" class="form-control" placeholder="Medida" [(ngModel)]="tecido.medida"/>

        </div>

        <input type="submit">

    </form>
</div>
