<h1>Lista de Roupas e Tecidos</h1>

<div class="col-md-6">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>IdRoupa</th>
            <th>IdTecido</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let roupatecido of roupastecidos">
            <td>{{ roupatecido.idRoupaTecido }}</td>
            <td>{{ roupatecido.idRoupa }}</td>
            <td>{{ roupatecido.idTecido }}</td>
            <td><a class="btn btn-primary" href="tecidoalterar/{{roupatecido.idRoupaTecido}}/td"> alterar</a></td>
        </tr>
    </tbody>

</table>
</div>