<div class="container">
<h1>Listar Funçoes</h1>

<a class="btn btn-primary" href="incluirfuncao">incluir Funcao</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>     
            <th></th>       
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let funcao of funcoes">
            <th>{{ funcao.idFuncao }}</th>
            <th>{{ funcao.nome }}</th>
            <td><a class="btn btn-primary" href="alterarfuncao/{{funcao.idFuncao}}">Alterar</a></td>            
        </tr>
    </tbody>

</table>
</div>
