<p>Alterar-venda</p>
<div class="container">
    <div class="col-md-6">
      <form method="POST" #frm="ngForm" (ngSubmit)="alterar(frm)">
        <div class="form-group">
            <label for="nome">Id do Funcionario:</label>
            <input type="text" name="idFuncionario" id="idFuncionario" class="form-control" placeholder="idfuncionario"
                [(ngModel)]="venda.idFuncionario" required value="{{venda.idFuncionario}}" />
        </div>

        <div class="form-group">
            <label for="nome">Id da Loja:</label>
            <input type="text" name="idLoja" id="idLoja" class="form-control" placeholder="idloja"
                [(ngModel)]="venda.idLoja" required value="{{venda.idLoja}}" />
        </div>

        <div class="form-group">
            <label for="nome">Id do Roupa:</label>
            <input type="text" name="idRoupa" id="idRoupa" class="form-control" placeholder="idroupa"
                [(ngModel)]="venda.idRoupa" required value="{{venda.idRoupa}}" />
        </div>

        <input type="submit">
      </form>
      

    </div>


</div>