<div class="container">
    <h1 class="display-4">Quantidade de vendas por roupas</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Roupa</th>
                <th>ValorVenda</th>    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let view of viewRoupaTecido">
                <td>{{ view.id }}</td>
                <td>{{ view.nome }}</td>
                <td>{{ view.valorvenda }}</td>
            </tr>
        </tbody>
    </table>
</div>